@use "setup";

@media (max-width: 600px) {
    body {
      flex-direction: column;
    }
}

$marineColor: #042259;
$paleRoseColor: #F5C8CF;
$paleGreyColor: #F0F5FF;
$lightPinkColor: #FCDDE2;
$darkerGreyColor: #1F2022;
$waterBlueColor: #1D81CC;

.wrapper{
    max-width: 2400px; //I have a widescreen monitor, i personally set this high so it wont look strange on my screen
    width:100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 900px;
    background-image:url(../assets/header-alt.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

body{
    background-color:$lightPinkColor;
}

nav {
    height: 10vh;
    letter-spacing: 1.5px;
    padding-top: 25px;
    padding-right: 25px;
}
nav ul {
    list-style: none;
    font-size: 25px;
    text-align: right;
}

nav li {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    padding: 0 15px;
    color: $marineColor;
    font-family: 'Catamaran', sans-serif ;
}

.title{
    padding-left: 200px;
    padding-top: 100px;
}

h1 {
    font-family:'Emblema One', sans-serif ;
    font-size:104.6px;
    color: $waterBlueColor;
}

h2{
    font-family:'Barlow', sans-serif;
    font-size:37.2px;
    color: $marineColor;
}

.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
}

.newsHead{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.gallery{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3{
    font-family: 'Emblema One', sans-serif;
    color: $waterBlueColor;
    font-size: 42px;
}

.midBox {
    margin-top: 40px;
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    font-family:'Barlow', sans-serif;
    font-size: 20px;
    line-height:29px;
    letter-spacing: 0.2px;
}

.textMid{
    width: 1000px;
}

.midButton{
    font-family: 'Emblema One', sans-serif;
    background-color: $marineColor;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border: $marineColor;
    display: block;
    margin-top: 20px;
    color: $paleGreyColor;
}

.botBox {
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $paleGreyColor;
}

.textBot{
    display:inline-block;
    flex-direction:column;
    vertical-align:left;
    text-align: left;
}

.botButton{
    font-family: 'Emblema One', sans-serif;
    background-color: $paleRoseColor;
    height:40px;
    width:150px;
    font-size: 20px;
    border: $paleRoseColor;
    display: block;
    margin-top: 20px;
    color: $marineColor;
}

.textAlt{
    display:inline-block;
    flex-direction: column;
    vertical-align: right;
    text-align: right;
}

.botBar{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 50px;
}

.footBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}